body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8f5e9; 
    margin: 0;
    padding: 0;
    color: #1b5e20; 
    text-align: center;
}


header {
    background-color: #2e7d32; 
    padding: 15px;
    text-align: center;
}

header select {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    background-color: #c8e6c9; 
    color: #1b5e20;
}

h1, h2, h3 {
    color: #2e7d32; 
    text-align: center;
}


.bloco, .item, .scripts {
    background-color: #ffffff; 
    border-left: 5px solid #66bb6a; 
    margin: 20px auto;
    padding: 15px;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0px
}

.p0 {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px #00000020;
}
img {
    width: 100%;
    max-width: 350px; 
    height: auto;     
    display: block;
    margin: 10px auto;
    object-fit: contain; 
}


.scripts {
    background: #eef5ff;
    border-left: 4px solid #1e70d1;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
}

input {
    padding: 8px;
    margin-top: 3px;
    width: 100%;
    max-width: 250px;
    border: 1px solid #888;
    border-radius: 5px;
}

button {
    background: #1e70d1;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #165aad;
}


@media (max-width: 600px) {
    body {
        padding: 12px;
    }

    h1 {
        font-size: 23px;
    }

    img {
        max-width: 230px;
    }
}

   
.p0 {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: 80px auto;
    padding: 40px 60px;
    background-color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
}

.p1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 40px;
    color: #66bb6a;
}

.p2 {
    text-align: justify;
}

.scripts {
    border: 2px solid #66bb6a;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn-codigo {
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: #66bb6a;
    color: white;
}